@import './fontawesome-free-5.15.4-web/scss/fontawesome';
@import './fontawesome-free-5.15.4-web/scss/solid';
@import './fontawesome-free-5.15.4-web/scss/brands';

$color-background: #EBEBEB;
$color-primary: #878787;
$color-secondary: #CBCBCB;
$color-light-font: #969696;
$color-dark-font: #63666A;

$break-point: 570px;
$footer-height: 50px;