@import 'base.scss';

.layout {
  &_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: $header-height;
    background-color: $color-background;
  }

  &_main {
    position: fixed;
    width: 180%;
    height: calc(100% - #{$header-height});
    top: 120px;
    z-index: 100;
  }

  &_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footer-height;
    z-index: 1;
    background-color: $color-background;
  }
}

.header {
  &_container {
    padding: 30px 50px 50px;
  }

  &_heading {
    margin-top: 20px;
    color: $color-light-font;
    font-size: 12px;
    width: 80%;
  }

  &_font {
    font-size: 16px;
  }
}

.main {
  &_container {
    padding: 0 50px;
  }
}