@import 'base.scss';

.header_container {
  padding-left: 50px;
}

.page {
  &__container {
    height: 100%;
  }

  &__schedules {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    height: inherit;
  }

  &__main_overlay {
    position: absolute;
    width: 100vw;
    height: 100px;
    //z-index: 99;
    background-color: $color-background;
  }

  &__main {
    position: absolute;
    top: 0;
    margin: 0 50px;
    height: 100%;
  }

  &__title {
    font-size: 14px;
    margin: 20px 0;
  }

}

.schedule {
  &_container {
    width: 100px;
  }

  &_image {
    width: 120px;
    height: 160px;
    //width: 100%;
    //height: auto;
    cursor: pointer;

    background: darkgray;
  }

  &_font {
    font-size: 10px;
  }

}